.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

}

.header {
    border-bottom: 1px solid #B9B9B9;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.main-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 24px;
} 

.main-menu li a {
    text-decoration: none;
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}

