*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background-image: url('../images/hero pointages.jpeg') no-repeat fixed center;
}
.btn_add{
    width:fit-content;
    margin-bottom: 20px;
    background-color:rgb(47, 105, 143);
    padding: 5px 20px;
    color: white;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
    text-decoration: 0;

}
.btn_add img{
   margin-right: 5px;
   height: 20px;
}
table{
    border-collapse: collapse;
    color: #070808;

}
th{
    font-size: 16px;
    border-bottom: 3px solid #ececee;
    padding: 5px 20px;
    font-weight: 500;
    background-color:  rgb(20, 20, 20);
}
td{
    color: white;
}